<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <!-- <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    /> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script> -->
    <link rel="stylesheet" href="../public/main.css" />
  </head>

  <body>
    <!-- <div class="frame">
        <div class="main_frame">
            <div class="left_frame">
                <div class="left_1">


                </div>
                <div class="marginer"></div>
            </div>
            <div class="midd_frame"></div>
            <div class="right_frame"></div>
        </div>
    </div> -->
    <div class="heal">hello</div>
  </body>
</html>

<!-- .frame {
  width: 100%;
  height: 100%;
  /* background-color: #e5e5e5; */
  background-color: #e5e5e5;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main_frame {
  position: relative;
  width: 1440px;
  height: 1312px;
  background-color: #e9e65a;

  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2px;
}

/* LEFT-FRAME */

.main_frame .left_frame {
  position: relative;
  width: 305px;
  height: 1315px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: white;
}

.main_frame .left_frame .left_1 {
  position: relative;
  margin-top: 50px;
  margin-left: 37px;
  width: 228px;
  height: 267px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: aqua;
}

/* MIDDLE-FRAME */

.main_frame .midd_frame {
  position: relative;
  margin-left: 30px;
  margin-right: 27px;
  width: 970px;
  height: 1259px;

  display: flex;
  flex-direction: column;
}

/* RIGHT-FRAME */

.main_frame .right_frame {
  position: relative;
  width: 108px;
  height: 1315px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: white;
} -->
