/* :root {
  --font: "Jost";
  --border: #eaeaea;
} */

/* html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
} */

.heal {
  color: blue;
  font-weight: bolder;
  font-style: italic;
}
body {
  background-color: blue;
}
