:root {
  --font: "sans-serif";
  /* --border: #eaeaea; */
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.frame {
  width: 100%;
  height: 100%;
  /* background-color: #e5e5e5; */
  background-color: #e5e5e5;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main_frame {
  position: relative;
  width: 1440px;
  height: 1312px;
  /* background-color: #e9e65a; */

  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2px;
}

/* LEFT-FRAME */

.main_frame .left_frame {
  position: relative;
  width: 305px;
  height: 1315px;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  background-color: white;
}

.main_frame .left_frame .left_1 {
  position: relative;
  margin-top: 30px;
  /* margin-left: 37px; */
  width: 228px;
  height: 267px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left_frame .left_1 .left_1_1 {
  position: relative;
  margin-bottom: 29px;
  width: 156px;
  height: 142px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left_frame .left_1 .left_1_2 {
  position: relative;
  width: 64px;
  height: 20.85px;
  display: flex;
  flex-direction: row;
  align-items: center;

  font-family: var(--font);
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  line-height: 123.6%;
  text-transform: capitalize;
}

.left_frame .left_1 .left_1_3 {
  position: relative;
  width: 147.84px;
  height: 26.65px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-family: var(--font);
  font-style: normal;
  font-size: 15px;
  font-weight: normal;
  line-height: 24px;
  text-transform: capitalize;
  color: #767676;
}

.left_frame .left_1 .social_icons {
  position: relative;
  margin-top: 22px;
  width: 228px;
  height: 22px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left_frame .left_1 .social_icons .social_icon {
  position: relative;
  width: 24.99px;
  height: 21.61px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: #ffb400;
  border-radius: 50%;
}

.social_icon:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  /* cursor: pointer; */
}

.left_1 .social_icons .social_icon img {
  width: 14.58px;
  height: 12.6px;
}

.main_frame .left_frame .marginer {
  position: relative;
  margin-top: 30px;
  margin-bottom: 25px;
  /* margin-left: 40px; */
  width: 220px;
  height: 0;
  border: 1.5px solid #eaeaea;
}

.main_frame .left_frame .left_2 {
  position: relative;
  /* margin-top: 50px; */
  /* margin-left: 44px; */
  width: 221px;
  height: 126px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.left_frame .left_2 .user_info {
  width: 221px;
  height: 25px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left_frame .left_2 .user_info p {
  padding: 0 7px 0 3px;
  font-family: var(--font);
  font-style: Regular;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  text-align: left;
  text-transform: capitalize;
  background-color: #ffb400;
}

.left_frame .left_2 .user_info span {
  font-family: var(--font);
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  text-transform: capitalize;
}

.main_frame .left_frame .left_3,
.main_frame .left_frame .left_4,
.main_frame .left_frame .left_5 {
  position: relative;
  /* margin-top: 50px; */
  /* margin-left: 44px; */
  width: 220px;
  height: 153px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.left_frame .left_3 h4,
.left_frame .left_4 h4,
.left_frame .left_5 h4 {
  font-family: var(--font);
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 10%;

  text-transform: capitalize;
}

.left_frame .left_3 .language,
.left_frame .left_4 .skill {
  width: 220px;
  height: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.left_3 .language .lang_name,
.left_4 .skill .skill_name {
  width: 220px;
  height: 24px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left_3 .language .lang_name p,
.left_3 .language .lang_name span,
.left_4 .skill .skill_name p,
.left_4 .skill .skill_name span {
  font-family: --font;
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #767676;
  /* text-transform: capitalize; */
}

.left_3 .language .lang_rate,
.left_4 .skill .skill_rate {
  padding: 0 1px;
  width: 220px;
  height: 4px;
  border: 0.5px solid #ffb400;
  border-radius: 30px;

  display: flex;
  justify-content: start;
  align-items: center;
}

.left_3 .language .lang_rate .lang_rated,
.left_4 .skill .skill_rate .skill_rated {
  width: 220px;
  height: 2px;
  background-color: #ffb400;
  border-radius: 30px;
}

.left_frame .left_5 .extra_skill {
  width: 186px;
  height: 24px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.left_frame .left_5 .extra_skill span {
  margin-left: 10px;

  font-family: var(--font);
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #767676;
}

/* MIDDLE-FRAME */

.main_frame .midd_frame {
  position: relative;

  margin-left: 30px;
  margin-right: 27px;
  width: 970px;
  height: 1312px;

  display: flex;
  flex-direction: column;
}

.main_frame .midd_frame .top_midd_frame {
  position: relative;
  margin-bottom: 48px;
  width: auto;
  height: 464px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: white;
}

.midd_frame .top_midd_frame .img_1 {
  position: absolute;
  top: 37px;
  left: 36px;
}

.midd_frame .top_midd_frame .img_2 {
  position: absolute;
  left: 554px;
  bottom: 69px;
}

.midd_frame .top_midd_frame .img_3 {
  position: absolute;
  left: 370px;
  bottom: 111px;
}

.midd_frame .top_midd_frame .img_4 {
  position: absolute;
  top: 76px;
  right: 57px;
}
.midd_frame .top_midd_frame .img_5 {
  position: absolute;
  top: 59px;
  right: 438px;
}

.midd_frame .top_midd_frame .img_6 {
  position: absolute;
  bottom: 28px;
  left: 84px;
}

.midd_frame .top_midd_frame .img_7 {
  position: absolute;
  bottom: 23px;
  right: 37px;
}

.midd_frame .top_midd_frame .left_midd {
  position: relative;
  margin-left: 25px;
  width: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.midd_frame .top_midd_frame .left_midd h2 {
  width: auto;
  height: auto;

  font-family: var(--font);
  font-style: Bold;
  font-size: 48px;
  font-weight: 700;
  line-height: 123.6%;
  letter-spacing: 0%;
  text-align: left;
}

.midd_frame .top_midd_frame .left_midd p {
  font-family: var(--font);
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;

  color: #767676;
}

.midd_frame .top_midd_frame .left_midd .btn {
  margin-top: 40px;
  width: 154px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  background: rgba(245, 195, 75, 1);

  color: rgba(4, 30, 66, 1);
  font-family: var(--font);
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-transform: capitalize;
}

.midd_frame .top_midd_frame .right_midd {
  position: relative;
  width: 330px;
  /* 
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left; */
}

.top_midd_frame .right_midd img {
  position: absolute;
  bottom: -5px;
}

.midd_frame .my_services {
  margin-top: 130px;
  width: 438px;
  height: 133px;
  align-self: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.midd_frame .my_services h3 {
  font-family: var(--font);
  font-style: Bold;
  font-size: 32px;
  font-weight: 700;
  line-height: 123.6%;
  letter-spacing: 0%;
  color: #302c2f;
}

.midd_frame .my_services p {
  margin-bottom: 50px;
  width: 438px;
  height: 68px;
  font-family: var(--font);
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #767676;
  text-align: center;
}

.midd_frame .service_list_wrapper {
  position: relative;
  width: auto;
  height: 470px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.midd_frame .service_list_wrapper .service_list {
  position: relative;

  width: 310px;
  height: 225px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background-color: white;
}

.service_list_wrapper > .service_list:nth-last-child(-n + 3) {
  margin-top: 20px;
}

.midd_frame .service_list_wrapper .service_list img {
  width: 68px;
  height: 68px;
}

.midd_frame .service_list_wrapper .service_list .service_name {
  /* margin-top: 25px; */
  width: 158px;
  height: 22px;
  font-family: var(--font);
  font-style: Medium;
  font-size: 18px;
  font-weight: bold;
  line-height: 123.6%;
  text-align: center;
}

.midd_frame .service_list_wrapper .service_list span {
  font-family: var(--font);
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #767676;
}

.midd_frame .service_list_wrapper .service_list a {
  font-family: Roboto;
  font-style: Bold;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  /* text-align: left; */
  color: #ffb400;
}

/* RIGHT-FRAME */

.main_frame .right_frame {
  position: relative;
  width: 108px;
  height: 1315px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  background-color: white;
}

.main_frame .right_frame > img {
  margin-top: 52px;
}

.main_frame .right_frame .right_icons_wrapper {
  position: relative;
  margin-top: 220px;
  width: 108px;
  height: 450px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main_frame .right_frame .right_icon {
  position: relative;
  margin-top: 43px;
  width: 40px;
  height: 40px;

  display: flex;

  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.tooltip {
  position: absolute;
  top: -40px;
  background: #1c1c1c;
  color: #fff;
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease;
  white-space: nowrap;
}

.tooltip::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #1c1c1c transparent transparent transparent;
}

.right_icons_wrapper:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -48px;
}

.main_frame .right_frame .right_icon:hover {
  background-color: #ffb400;
  cursor: pointer;
}
